body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  background: #20201a;
}

h1, h2, p {
  color: #eee;
}

#levelSidebar > h2, #alphabetBox > h2, #trainer > h2 {
  text-align: center;
}


#levelSidebar > h2:first-child, #alphabetBox > h2:first-child, #trainer > h2:first-child {
  margin-top: 0;
}

#levelSidebar, #alphabetBox, #trainer, #letterChart {
  background: #444;
  padding: 1em;
}

#alphabetBox, #trainer, #letterChart {
  margin-left: 0.5em;
}

#letterChart {
  width: 600px;
  height: 360px;
  background: #eee;
  padding: 1em;
}

#letterChart > div {
  width: 100%;
  height: 100%;
}

#trainer {
  text-align: center;
}

#startStopButton {
  font-size: 24pt;
  width: 5em;
}

#trainingUI {
  margin-top: 1em;
  padding: 4pt;
}

#playedLetter, #typedLetter {
  font-size: 48pt;
  font-weight: bold;
  font-family: monospace;
  width: 1.5em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #ccc;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.correct {
  color: #080 !important;
}
.incorrect {
  color: #c00 !important;
}

#info {
  font-size: 8pt;
  color: #aaa;
}

#info h2 {
  margin-bottom: 0.2em;
}

#info ul {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#info a {
  color: #bbb;
}